@use '../../styles/variables' as colors;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.input_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 5.6rem;
  width: 100%;
  padding: 0 1.6rem 0 1.2rem;
  gap: 1.2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #a08c8b;
  cursor: text;
  &.focused {
    border: 2px solid #ffb3b1;
  }
}

.hover {
  &:hover {
    border: 1px solid #d0c4c3;
    & .label {
      color: #d0c4c3;
    }
  }
}

.label {
  color: #d7c1c0;
  position: absolute;
  white-space: nowrap;
  font-weight: 400;
  pointer-events: none;
  transition: top 0.3s cubic-bezier(0.27, 0.71, 0.36, 0.83),
    left 0.3s cubic-bezier(0.27, 0.71, 0.36, 0.83),
    color 0.3s cubic-bezier(0.27, 0.71, 0.36, 0.83),
    font-size 0.3s cubic-bezier(0.27, 0.71, 0.36, 0.83);
  font-size: 1.6rem;
  z-index: 1;
  &.focused {
    color: #ffb3b1;
    left: 1.2rem !important;
    padding: 0 0.6rem;
    font-size: 1.2rem;
  }
  &.filled {
    color: #d7c1c0;
    left: 1.2rem !important;
    padding: 0 0.6rem;
    top: -1rem;
    font-size: 1.2rem;
  }
}

.square {
  user-select: none;
  color: transparent;
  position: absolute;
  white-space: nowrap;
  top: auto;
  font-weight: 400;
  pointer-events: none;
  top: -1rem;
  left: 1.2rem;
  padding: 0 0.6rem;
  font-size: 1.2rem;
  transition: all 0.2s cubic-bezier(0.27, 0.71, 0.36, 0.83);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    background: colors.$surface-1;
    transition: right 0.2s cubic-bezier(0.27, 0.71, 0.36, 0.83),
      left 0.3s cubic-bezier(0.27, 0.71, 0.36, 0.83),
      background 0.3s cubic-bezier(0.27, 0.71, 0.36, 0.83);
  }
  &.focused::before {
    right: 0;
    left: 0;
  }
}

.input_group {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: 100%;
  & .input {
    display: flex;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    background: none;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    caret-color: #ffb3b1;
    color: #d0c4c3;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &.align_right {
      text-align: end;
    }
  }
  & .sufix {
    font-family: 'Roboto', sans-serif;
    color: #d7c1c0;
    font-size: 1.6rem;
    left: 0;
  }
}

.supporting_text {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 1.6rem;
  color: #d7c1c0;
  font-weight: 400;
}

.icons {
  color: #d7c1c0;
  user-select: none;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 2.4rem;
}

.cancel {
  cursor: pointer;
}
