@use '../../styles/variables' as colors;

.container {
  display: flex;
  width: 100%;
  padding-bottom: 1px;
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.8s ease;
  & .text_container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 1px;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: colors.$surface-1;
    }
  }
  & .photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 45%;
    background: colors.$surface;
    z-index: 1;
    & .image {
      width: 70%;
      max-height: 70%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.visible {
  opacity: 1;
}
