@use './variables' as color;

@keyframes targetAnimation {
  0% {
    background: color.$surface-1;
  }
  50% {
    background: color.$surface-3;
  }
  100% {
    background: color.$surface-1;
  }
}

.target-animation-starting div.starting::before{
  animation-name: targetAnimation;
  animation-duration: .7s;
  animation-delay: .7s; 
}

.target-animation-tattoo-processus div.tattoo-processus::before{
  animation-name: targetAnimation;
  animation-duration: .7s;
  animation-delay: .7s; 
}

.target-animation-portfolio div.portfolio::before{
  animation-name: targetAnimation;
  animation-duration: .7s;
  animation-delay: .7s; 
}
