@use './variables' as color;

// color
.c-primary {
  color: color.$primary;
}
.c-on-surface {
  color: color.$on-surface;
}
.c-on-surface-variant {
  color: color.$on-surface-variant;
}
.c-inactive {
  color: color.$inactive;
}

// background
.b-primary {
  background: color.$primary;
}
.b-surface {
  background: color.$surface;
}
.b-surface-1 {
  background: color.$surface-1;
}
.b-surface-2 {
  background: color.$surface-2;
}
.b-on-surface-hover {
  background: color.$on-surface-hover;
}
.b-on-surface-variant {
  background: color.$on-surface-variant;
}
.b-outline {
  background: color.$outline;
}

//fill
.f-on-surface-variant {
  fill: color.$on-surface-variant;
}

// border
.border {
  border: 2px color.$outline solid;
}
.border-1 {
  border: 1px color.$outline solid;
}
.border-top {
  border-top: 2px color.$outline solid;
}
.border-top-1 {
  border-top: 1px color.$outline solid;
}
.border-right {
  border-right: 2px color.$outline solid;
}
.border-right-1 {
  border-right: 1px color.$outline solid;
}
.border-bottom {
  border-bottom: 2px color.$outline solid;
}
.border-bottom-1 {
  border-bottom: 1px color.$outline solid;
}
.border-left {
  border-left: 2px color.$outline solid;
}
.border-left-1 {
  border-left: 1px color.$outline solid;
}

// media
@media screen and (min-width: 650px) {
  .border-1 {
    border: 2px color.$outline solid;
  }
  .border-top-1 {
    border-top: 2px color.$outline solid;
  }
  .border-right-1 {
    border-right: 2px color.$outline solid;
  }
  .border-bottom-1 {
    border-bottom: 2px color.$outline solid;
  }
  .border-left-1 {
    border-left: 2px color.$outline solid;
  }
}
