@use './variables' as color;

// padding
.p-5 {
  padding: 5px;
}
.p-8 {
  padding: 0.8rem;
}
.p-16 {
  padding: 1.6rem;
}
.p-24 {
  padding: 2.4rem;
}
.p-32 {
  padding: 3.2rem;
}
.p-40 {
  padding: 4rem;
}
.p-48 {
  padding: 4.8rem;
}
.p-56 {
  padding: 5.6rem;
}
.p-64 {
  padding: 6.4rem;
}
.p-72 {
  padding: 7.2rem;
}
.p-80 {
  padding: 8rem;
}
.p-96 {
  padding: 9.6rem;
}

.pt-5 {
  padding-top: 5px;
}
.pt-8 {
  padding-top: 0.8rem;
}
.pt-16 {
  padding-top: 1.6rem;
}
.pt-24 {
  padding-top: 2.4rem;
}
.pt-32 {
  padding-top: 3.2rem;
}
.pt-40 {
  padding-top: 4rem;
}
.pt-48 {
  padding-top: 4.8rem;
}
.pt-56 {
  padding-top: 5.6rem;
}
.pt-64 {
  padding-top: 6.4rem;
}
.pt-72 {
  padding-top: 7.2rem;
}
.pt-80 {
  padding-top: 8rem;
}
.pt-96 {
  padding-top: 9.6rem;
}

.pr-5 {
  padding-right: 5px;
}
.pr-8 {
  padding-right: 0.8rem;
}
.pr-16 {
  padding-right: 1.6rem;
}
.pr-24 {
  padding-right: 2.4rem;
}
.pr-32 {
  padding-right: 3.2rem;
}
.pr-40 {
  padding-right: 4rem;
}
.pr-48 {
  padding-right: 4.8rem;
}
.pr-56 {
  padding-right: 5.6rem;
}
.pr-64 {
  padding-right: 6.4rem;
}
.pr-72 {
  padding-right: 7.2rem;
}
.pr-80 {
  padding-right: 8rem;
}
.pr-96 {
  padding-right: 9.6rem;
}

.pb-5 {
  padding-bottom: 5px;
}
.pb-8 {
  padding-bottom: 0.8rem;
}
.pb-16 {
  padding-bottom: 1.6rem;
}
.pb-24 {
  padding-bottom: 2.4rem;
}
.pb-32 {
  padding-bottom: 3.2rem;
}
.pb-40 {
  padding-bottom: 4rem;
}
.pb-48 {
  padding-bottom: 4.8rem;
}
.pb-56 {
  padding-bottom: 5.6rem;
}
.pb-64 {
  padding-bottom: 6.4rem;
}
.pb-72 {
  padding-bottom: 7.2rem;
}
.pb-80 {
  padding-bottom: 8rem;
}
.pb-96 {
  padding-bottom: 9.6rem;
}

.pl-5 {
  padding-left: 5px;
}
.pl-8 {
  padding-left: 0.8rem;
}
.pl-16 {
  padding-left: 1.6rem;
}
.pl-24 {
  padding-left: 2.4rem;
}
.pl-32 {
  padding-left: 3.2rem;
}
.pl-40 {
  padding-left: 4rem;
}
.pl-48 {
  padding-left: 4.8rem;
}
.pl-56 {
  padding-left: 5.6rem;
}
.pl-64 {
  padding-left: 6.4rem;
}
.pl-72 {
  padding-left: 7.2rem;
}
.pl-80 {
  padding-left: 8rem;
}
.pl-96 {
  padding-left: 9.6rem;
}

// margin
.m-5 {
  margin: 5px;
}
.m-8 {
  margin: 0.8rem;
}
.m-12 {
  margin: 12px;
}
.m-16 {
  margin: 1.6rem;
}
.m-24 {
  margin: 2.4rem;
}
.m-32 {
  margin: 3.2rem;
}
.m-40 {
  margin: 4rem;
}
.m-48 {
  margin: 4.8rem;
}
.m-56 {
  margin: 5.6rem;
}
.m-64 {
  margin: 6.4rem;
}
.m-72 {
  margin: 7.2rem;
}
.m-80 {
  margin: 8rem;
}

.mt-5 {
  margin-top: 5px;
}
.mt-8 {
  margin-top: 0.8rem;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 1.6rem;
}
.mt-24 {
  margin-top: 2.4rem;
}
.mt-32 {
  margin-top: 3.2rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-48 {
  margin-top: 4.8rem;
}
.mt-56 {
  margin-top: 5.6rem;
}
.mt-64 {
  margin-top: 6.4rem;
}
.mt-72 {
  margin-top: 7.2rem;
}
.mt-80 {
  margin-top: 8rem;
}

.mr-5 {
  margin-right: 5px;
}
.mr-8 {
  margin-right: 0.8rem;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 1.6rem;
}
.mr-24 {
  margin-right: 2.4rem;
}
.mr-32 {
  margin-right: 3.2rem;
}
.mr-40 {
  margin-right: 4rem;
}
.mr-48 {
  margin-right: 4.8rem;
}
.mr-56 {
  margin-right: 5.6rem;
}
.mr-64 {
  margin-right: 6.4rem;
}
.mr-72 {
  margin-right: 7.2rem;
}
.mr-80 {
  margin-right: 8rem;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-8 {
  margin-bottom: 0.8rem;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 1.6rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-48 {
  margin-bottom: 4.8rem;
}
.mb-56 {
  margin-bottom: 5.6rem;
}
.mb-64 {
  margin-bottom: 6.4rem;
}
.mb-72 {
  margin-bottom: 7.2rem;
}
.mb-80 {
  margin-bottom: 8rem;
}

.ml-5 {
  margin-left: 5px;
}
.ml-8 {
  margin-left: 0.8rem;
}
.ml-12 {
  margin-left: 12px;
}
.ml-16 {
  margin-left: 1.6rem;
}
.ml-24 {
  margin-left: 2.4rem;
}
.ml-32 {
  margin-left: 3.2rem;
}
.ml-40 {
  margin-left: 4rem;
}
.ml-48 {
  margin-left: 4.8rem;
}
.ml-56 {
  margin-left: 5.6rem;
}
.ml-64 {
  margin-left: 6.4rem;
}
.ml-72 {
  margin-left: 7.2rem;
}
.ml-80 {
  margin-left: 8rem;
}

// gap
.gap-8 {
  gap: 0.8rem;
}
.gap-16 {
  gap: 1.6rem;
}
.gap-24 {
  gap: 2.4rem;
}
.gap-32 {
  gap: 3.2rem;
}
.gap-40 {
  gap: 4rem;
}
.gap-48 {
  gap: 4.8rem;
}
.gap-56 {
  gap: 5.6rem;
}
.gap-64 {
  gap: 6.4rem;
}
.gap-72 {
  gap: 7.2rem;
}
.gap-80 {
  gap: 8rem;
}

// width
.width-full {
  width: 100%;
}
.height-divider {
  height: 1px;
}
@media screen and (min-width: 650px) {
  .width-divider {
    width: 2px;
  }
}

// height
.height-full {
  height: 100%;
}
.height-divider {
  height: 1px;
}
@media screen and (min-width: 650px) {
  .height-divider {
    height: 2px;
  }
}

// border-radius
.bora-full {
  border-radius: 10rem;
}

// hover
.hover:hover {
  background: color.$on-surface-hover;
}
.hover-icons:hover span {
  color: color.$on-surface;
}
.hover-icons:hover div svg path {
  fill: color.$on-surface;
}
.hover-red:hover p {
  text-decoration: underline;
}
.hover-chevron-right:hover div {
  padding: 0.8rem 0.4rem 0.8rem 0.8rem;
  & span {
    margin-left: 0.4rem;
  }
}
.hover-chevron-left:hover div {
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  & span {
    margin-right: 0.4rem;
  }
}
@media screen and (min-width: 800px) {
  .hover-chevron-right:hover div {
    padding: 0.8rem 0rem 0.8rem 0.8rem;
    & span {
      margin-left: 0.8rem;
    }
  }
  .hover-chevron-left:hover div {
    padding: 0.8rem 0.8rem 0.8rem 0rem;
    & span {
      margin-right: 0.8rem;
    }
  }
}

// cursor
.cursor-pointer {
  cursor: pointer;
}
.cursor-context-menu {
  cursor: context-menu;
}

// user-select
.user-select-none {
  user-select: none;
}

// position
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-fixed {
  position: fixed;
}

// transition
.transition-1 {
  transition: all .1s;
}
.transition-2 {
  transition: all .2s;
}
.transition-3 {
  transition: all .3s;
}
.transition-4 {
  transition: all .4s;
}
.transition-5 {
  transition: all .5s;
}