$primary: #fc4752;

$surface: #111111;
$surface-1: #181818;
$surface-2: #252525;
$surface-3: #2f2f2f;

$on-surface: #ffffff;
$on-surface-variant: #9f9f9f;
$on-surface-hover: #1f1f1f;
$outline: #424242;

$inactive: #575757;
