$primary: #ff3644;

$surface: #0d0d0d;
$surface-1: #111111;
$surface-2: #181818;
$surface-3: #252525;

$on-surface: #ffffff;
$on-surface-variant: #9f9f9f;
$on-surface-hover: rgba(255, 255, 255, 0.06);
$outline: #191919;

$inactive: #575757;
